<div>

    <button ng-click="clear();" type="button" class="btn btn-info">Clear</button>

    <div ui-sortable="sortableOptions" ng-model="widgets" class="list">
        <div ng-repeat="widget in widgets" ng-style="widget.style" class="widget-container">
            <div class="widget panel panel-default" widget>
                <div class="widget-header panel-heading">
                    <h3 class="panel-title">
                        {{widget.title}} <span class="label label-primary">{{widget.directive}}</span>
                        <span ng-click="removeWidget(widget);" class="glyphicon glyphicon-remove"></span>
                    </h3>
                    
                </div>
                <div class="widget-content panel-body">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>